!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome to our gallery site, #{@user.email}
    %span
      For some reason you entered our site, so be as at home.
      %br/
    %span
      Thanks for joining and have a great day!
      %br/