!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      - if @user.nickname
        %span
          Dear, #{@user.nickname}
      - else
        %span
          Dear, #{@user.email}
    %br/
    %span
      You created the subs, to #{@category.name} category
    %br/
    %span
      That means, that we will note you about new content in that category.
      %br/
      Have a nice day!