.container.align-items-center
  .btn-group
    .col-xs-2
      .btn.btn-outline-dark.disabled
        = comment.commentable.email
        types:
    .col-xs-8.other
    .col-xs-2.other
      .btn.btn-outline-dark.disabled
        = comment.text
    %br/
%br/