.d-flex.mt-1.justify-content-center
  .card{style: "width: 26rem;"}
    %img.img-fluid{ alt: 'wallpaper', src: @wallpaper.image.thumb.url }
    .caption{ style:'text-align: center;' }
      = @wallpaper.title
    .card-body
      .info_text_block
        Edit wallpaper and then press "Save", or get
        = link_to 'back', wallpapers_path
        to Gallery list
      %br/
      = render 'editform', wallpaper: @wallpaper
