/page is overabundant, but working, and it's an example of hand written route. Should be deleted in future.
.row
  .col-xs-12
    = link_to 'Back', wallpaper_path, class: "btn btn-default"
  %br/
  .col-xs-12
    = image_tag(@wallpaper.image.url, alt: 'Image')
