<div class="row">
  <div class="col-xs-12"><%= link_to 'Back', wallpaper_path, class: 'btn btn-default' %></div><br>
  <div class="col-xs-12"><%#= image_tag(@wallpaper.image.url, alt: 'Image') %></div>
  <div class="col-xs-12"><%= image_tag(Wallpaper.find(params[:id]).image.url, alt: 'Image') %></div>
</div>
