.card{style: "width: 26rem;"}
  .card-body
    .info_text_block
      %span
        Fill the fields and then press "Save", or get
      - if request.referer
        = link_to 'back', request.referrer
      - else
        = link_to 'back', wallpapers_path
      to Gallery list
    %br/
    = render 'form', wallpaper: @wallpaper
