.info_text_block{style: "width: 54rem;"}
  Fill the fields and then press "Save", or get
  - if request.referer
    = link_to 'back', request.referrer
  - else
    = link_to 'back', wallpapers_path
    to Gallery list
.card{style: "width: 54rem;"}
  .card-body
    = render 'form', wallpaper: @wallpaper
