<div class="row">
  <div class="col-xs-offset-2 col-xs-2"><%= image_tag(@wallpaper.image.thumb.url, alt: 'Image') %></div>
</div>
<div class="row">
  <div class="col-xs-offset-2 col-xs-1"><%= link_to 'Get Fullscrean', fullsize_wallpaper_path, class: "btn btn-default" %></div>
</div>

<div class="row">
  <%= current_user.present? ? render(@wallpaper.comments) : p('To see comments you must be logged in') %>
</div>
<div class="row">
  <%= current_user.present? ? render('comments/form') : p('To use comments you must be logged in') %>
</div>
