.info_text_block{style: "width: 20rem; align: "left""}
  Please, log in to do this action.
.card{ style: "width: 20rem;" }
  .card-body
    = render "devise/sessions/modal"
= render "devise/shared/links"
