<%= form_for @post do |f| %>
  <div class="row">
    <div class="col-xs-12"><%= f.text_area :text %></div>
  </div>
  <div class="row">
    <div class="col-xs-12"><%= f.submit %></div>
  </div>
<% end %>