@import "bootstrap";
@import "font-awesome";
@import "categories";
@import "comments";
@import "likes";
@import "subscriptions";
@import "users";
@import "wallpapers";
$zindex-dropdown:          1000 !default;
$zindex-sticky:            1020 !default;
$zindex-fixed:             1030 !default;
$zindex-modal-backdrop:    1040 !default;
$zindex-modal:             1050 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;

html, body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Scroll */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  min-width: 320px;
  max-width: 100%;
  background-image: url('bricks-bg.jpg');
  body .dropdown-menu {
    min-width: 0;
    margin: 0;
    padding: 1px;
    background-color: #5A5A5A;
    color: white;
    transform: translate3d(0, 0, 0);
  }
  body table {
    text-align: left;
    vertical-align: middle;
  }
  body div.img-thumbnail {
    background-color: #D3D3D3;
    border: 1px solid black;
    text-align: center;
  }
  body .info_text_block {
    padding: 2px 5px;
    background-color: #DCDCDC;
    word-wrap: break-word;
    border: solid 1px #000;
    border-radius: 2px;
  }
  body div.card {
    margin: 0 5px 5px 5px;
  }
  body .card-body {
    background: #DCDCDC;
    word-wrap: break-word;
  }
  body .modal-content {
    padding: 5px;
  }
  body .modal-content .modal-header {
    margin-bottom: 5px;
    padding: 0;
  }
  body .modal-content .modal-body {
    padding: 0;
  }
/* Navigation button container styles */
  .main_nav_bar {
    position: absolute;
    max-height: 0;
  }
  .page_content {
    position: relative;
  }
  .main_nav_bar, .page_content {
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
/* Navigation buttons styles */
  #mid-overlay-btn,
  #menu-overlay-btn,
  #log-overlay-btn {
    position: fixed;
    width: 40px;
    top: 0;
    z-index: 100;
  }
  #menu-overlay-btn {
    left: 0;
  }
  #log-overlay-btn {
    right: 0;
  }
  #mid-overlay-btn {
    left: calc(50vw - 20px);
  }
  .btn {
    overflow: hidden;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    -webkit-transition: all .5s linear;
  }
  .btn:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
/* Navigation overlays styles */
  .overlay-container {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: space-between;
  }
  .left-overlay,
  .right-overlay {
    height: 100%;
    width: 0;
    top: 0;
    transition: all .5s linear;
    transition-property: width;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .left-overlay {
    left: 0;
  }
  .right-overlay {
    right: 0;
  }
  .mid-overlay {
    position: fixed;
    height: 0;
    width: 180px;
    left: calc(50vw - 90px);
    transition: all .5s linear;
    transition-property: height;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .mid-overlay .overlay,
  .left-overlay .overlay,
  .right-overlay .overlay {
    display: none;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 99;
    padding-top: 40px;
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 1 !important;
    text-align: center;
    word-wrap: break-word;
  }
  .overlay p {
    color: white;
  }
  .overlay span {
    color: white;
  }
/* Website links style */
  a {
    text-decoration: none;
    color: #007bff;
    display: block;
    transition: all 0.5s linear;
  }
  a:hover,
  a:focus {
    text-decoration: none;
    color: #8B0000;
  }
  .overlay a {
    padding: 5px;
  }
  .collapse.show .li a {
    color: yellow;
  }
/* Alert styles*/
  .alert {
    height: 40px;
    width: 100%;
    margin: 0;
    opacity: 0.5;
  }
/* page structure elements */
  header {
    display: block;
    position: fixed;
    min-height: 40px;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
  }
  header  h4 {
    font-size: 100%;
    font-family: Arial, Verdana, sans-serif;
    color: #000;
  }
  body .content {
    position: relative;
    height: 100%;
    width: 100%;
    max-height: 100vh;
    padding: 0;
    overflow-y: visible;
  }
  body backgr_field {
    width: 100%;
  }
  #carouselBgWp {
    width: 100%;
    top: 0;
    left: 0;
    background: black;
  }
  .carousel-fade .carousel-inner .carousel-item {
    transition: opacity 2s linear;
    transition-property: opacity;
    img.d-block {
      max-width: 100%;
      object-fit: cover;
    }
    .active {
      position: relative;
      opacity: 1 !important;
    }
  }
  footer {
    position: relative;
    width: 100%;
    margin-top: 40px;
  }

  footer .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  @media screen and (max-width: 959px) {
    #carouselBgWp, .carousel-control-next, .carousel-control-prev {
      display: none;
    }
  }
}
//.sign_menu {
//  position: relative;
//  display: flex;
//  .title_block {
//    display: inline;
//    color: #DC143C;
//    font-size: 150%;
//    font-weight: 600;
//    font-family: 'Comic Sans MS', 'Brush Script MT', Arial, Verdana, sans-serif;
//    text-align: center;
//  }
//}
