@import "bootstrap";
@import "categories";
@import "comments";
@import "likes";
@import "subscriptions";
@import "users";
@import "wallpapers";
$zindex-dropdown:          1000 !default;
$zindex-sticky:            1020 !default;
$zindex-fixed:             1030 !default;
$zindex-modal-backdrop:    1040 !default;
$zindex-modal:             1050 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;
html {
  height: 100%;
}

main, aside, body, footer {
  padding: 2px; /* Поля */
  //border: solid 1px #000; /* Параметры рамки */
}

header {
  padding: 1px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 2px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
  background: url(header-bg.jpg) no-repeat center /cover;

  .center_block {
    color: #DC143C;
    font-size: 200%;
    font-weight: 600;
    font-family: 'Comic Sans MS', 'Brush Script MT', Arial, Verdana, sans-serif;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .bar_menu {
    padding: 2px;
    margin: 5px;
    margin-left: 15%;
    margin-right: 10%;
    text-align: center;
    position: relative;
    cellpadding: 10px;
    border-radius: 9px;
  }

  .nav_bar_menu, .auth_bar_menu {
    background-color: #FF8C00;
  }

  h4 {
    font-size: 100%;
    font-family: Arial, Verdana, sans-serif;
    color: #000000;
  }
}

body {
  aside {
    position: absolute;
    text-align: center;
    overflow: scroll;
    width: 15%;
    height: 100%;

    border: solid 1px #000;
    background: url(aside-bg.jpg) no-repeat center /cover;
    # background: #DCDCDC;
    padding: 5px;

    //background: url(bg.jpg) no-repeat center /cover;

    .recent_comment_block {
      margin: 2px;
      padding: 5px;

      text-align: left;
      word-wrap: break-word;
      border: solid 1px #000;
    }
  }

  main {
    position: absolute;
    width: 85%;
    overflow: hidden;
    overflow-Y: auto;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15%;
    margin-right: 0px;
    background: url(bg.jpg) no-repeat center /cover;
    padding: 1px;
    padding-left: 5px;

    // h1 {
    //   font-size: 200%;
    //   font-family: Arial, Verdana, sans-serif;
    // }
  }
}
