.emp_cat.li {
  padding: 2px 5px 2px 5px;
  background-color: #D3D3D3;
}

.col-4 {
  float: left;
  margin-bottom: 2px;
  transition-property: width;
  transition: width 5s;
}

.img-thumbnail {
  max-width: 394px;
  margin: 0px auto;
}

@media screen and (max-width: 720px) {
  .col-4 {
    max-width: 100% !important;
  }
}

@media screen and (min-width: 721px) and (max-width:1279px) {
  .col-4 {
    max-width: 49% !important;
  }
}

@media screen and (min-width: 1280px) {
  .col-4 {
    max-width: 33% !important;
  }
}