.row {
  padding: 0px;
  margin: 0px;
}

.comments_block {
  width: 36rem;
  position: static;
  background-color: #A9A9A9;

  .author_block {
    width: 10rem;
    word-wrap: break-word;

    border: solid 1px #000;
    border-radius: 2px;

    padding: 5px;
    text-align: center;
    background-color: #696969;
  }

  .comment_block {
    width: 26rem;
    word-wrap: break-word;

    border: solid 1px #000;
    border-radius: 2px;

    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.new_comment_block {
  width: 36rem;
  position: static;

  border: solid 1px #000;
  border-radius: 2px;

  margin-top: 1px;
  margin-bottom: 1px;
  padding: 0px;

  //background-color: #F5F5F5;
  background-color: #A9A9A9;

  .captcha_block {
    width: 10rem;
    height: auto;
    border: solid 1px #000;
    text-align: center;
    background-color: #696969;

    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;

    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .text_area_block {
    width: 25.8rem;
    height: auto;
    border: solid 1px #000;
    text-align: left;
    background-color: #FFFFFF;

    padding: 5px;

    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
