wp_info_container {
  margin-left: 11rem;
  padding: 0px;

  nav_container {
    width: 14rem;
  }

  wallpaper_container {
    width: 14rem;
    background-color: #6495ED;
  }

  likes_container {
    width: 14rem;
    background-color: #6495ED;
  }
}
/*
svg {
  width: 60px;
  height: 60px;
  fill: red;
  //color: yellow;
  stroke: white;
} */