.caption {
  align-content: center;
  text-align: center;
  padding: 4px;
}

wp_info_container {
  margin-left: 11rem;
  padding: 0px;

  nav_container {
    width: 14rem;
  }

  wallpaper_container {
    width: 14rem;
    background-color: #6495ED;
  }

  likes_container {
    width: 14rem;
    background-color: #6495ED;
  }
}
