= form_for @category do |f|
  %h4
    .row
      .col-auto
        = f.label :name, 'Name:'
    .row
      .col-auto
        = f.text_field :name
    %br/
    .actions
      .col-auto
        = f.submit 'Save', class: "btn btn-success"
