.modal-header
  .col-auto.mr-auto
    .btn.btn-outline-primary.disabled
      Creating new category
  .col-auto
    %button.close{"aria-label": "Close", "data-dismiss": "modal", type: "button"}
      ×
.modal-body
  = render 'form', category: @category
