<h4 margin-left: 200px>Admit, that this menu is only to correct cat. name</h4>
<br><h1 >Edit category</h1>
<br>
<%= render 'form', category: @category %>
<br><div class="col-xs-2"><a class="btn btn-default" href="<%=categories_path%>">Back</a></div>