<h4 margin-left: 200px>Admit, that this menu is only to correct category name</h4>
<br><h2 >Edit category</h2>
<br><%= render 'form', category: @category %>
<br><div class="col-xs-2"><a class="btn btn-default" href="<%= categories_path %>">Back</a></div>