!!!
%html
  %head
    %link{:href => "app/assets/stylesheets/categories.scss", :rel => "stylesheet", :type => "text/css"}/
  %body
    .row
      .col-xs-12
        %a.btn.btn-success.btn-block{ href: new_category_path } Create new category
    %br/
    .row
      - @categories.each do |category|
        - if category.wallpapers.present?
          .col-xs-2
            = link_to category.name, category_path(category), class: "btn btn-primary"
            %br/
            %br/
            = link_to image_tag(category.wallpapers.sample.image.thumb.url, alt: 'image')
    %br/
    %a.btn.btn-success.btn-block.disabled Created, but empty for now categories
    %br/
    .row
      - @categories.each do |category|
        - if category.wallpapers.empty?
          .col-xs-2
            = link_to category.name, category_path(category), class: "btn btn-primary"
            %br/
