.info_text_block{style: "width: 20rem;"}
  Enter the name of category you want to create, or get
  - if request.referer
    = link_to 'back', request.referrer
  - else
    = link_to 'back', categories_path
    to Category list
.card{style: "width: 20rem;"}
  .card-body
    = render 'form', category: @category
